@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
    font: 10px sans-serif;
    color: #004e89;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    width: 100%;
}

h1 {
    font: 18px sans-serif;
    text-align:center;
}


a:link, a:visited {
    color: #0099c6;
    text-decoration: none;
}

a:hover {
    color: #e7e7e7;
    text-decoration: underline;
}

a:active {
    color: #e7e7e7;
}


h1.title {
    text-align: center;
    border-bottom: 6px solid #b1b3b2;
    color: #0b2027;
    font: 5em/.9em 'Open Sans', 'Roboto', sans-serif;
    letter-spacing: 4pt;
    padding: 0 0 15px 0;
    margin: 20px 0 30px 0;
}

h3.titleLink {
    text-align: center;
    color: #efaac4;
    font: 1.05em 'Open Sans', 'Roboto', sans-serif;
    margin: 5px;
    letter-spacing: 1.5pt;
    cursor: pointer;
}

#container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}


/* #source{
    position: absolute;
    left: 1000px;
    top: 550px;
} */

.legend {
    font-size: 12px;
    text-anchor: middle;
}

/* button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
} */

/* rect {
    cursor: pointer;
    stroke-width: 2;
} */


/* node link css *
 */
#chart {
    width: 100%;
}

#outer {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* svg {
    border: 1px solid black;
    background-color: #eeeeee;
} */

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .1;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    opacity: 0.1;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    stroke-opacity: 0.9;
}

.tooltip {
    position: absolute;
    width: 150px;
    height: 60px;
    background: black;
    pointer-events: none;
    color: #eeeeee;
    padding: 5px;
}


/* CSS for bubble nodes */
	#chart2 {
	    width: 100%;
	}
     circle {
       stroke: #000;
       stroke-width: 2px;
       opacity: .5;
     }
     
     .btn-group {
       margin-left: 330px;
     }
     
     .label {
     	fill: #0b2027;
    	 	font-family: 'Open Sans', sans-serif;
    	 	font-family: 'Roboto', sans-serif;
    	 	font-size: 14px;
     }

